@font-face {
    font-family: 'capture_itregular';
    src: url('./fonts/Capture_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

:root {
    --main-color: #9ac0f0;
    --secondary-color: #f8e2b5;
    --header-size: 24px;
}

body {
    line-height: 1.5;
}

.container {
    display: flex;
    height: 100vh;
}

.container-left {
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-wrap: wrap;

    background-color: black;

    opacity: 0.5;
    position: relative;
    top: 10%;

    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.title-logo{
    max-width: clamp(50px,30%,70%);
    justify-content: center;
    align-items: center;
}

.title-text{
    color: white;
    font-family: capture_itregular, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: clamp(1rem,5vw,3rem);
    text-align: center;
}

.container-right {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(var(--main-color,lightblue),var(--secondary-color,burlywood));
    width: clamp(20%,70vw,80vw);
    flex: 1;

    border: black solid;
    border-width: 0 1px;
}

.container-right > div {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    padding: 1rem;
    gap: 1rem;
}

.header {
    color: var(--secondary-color,white);
    font-size: var(--header-size);

    justify-content: space-between;
    max-inline-size: 50ch;

}

.form-body {
    background-color: white;
    box-shadow: 2px 3px 5px;

    padding: 1rem;
    gap: 0.5rem;
}

.form-body > p {
    font-size: var(--header-size);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-wrapper > div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-wrapper > div > div {
    flex-grow: 1;
}

label {
    display: block;
}

button {
    background-color: var(--secondary-color,burlywood);
    width: clamp(50px,50%,300px);
    border-radius: 5px;
}

button:hover {
    background-color: var(--main-color,lightblue);
}

a {
    text-decoration: none;
}

a:hover {
    background-color: var(--main-color,lightblue);
}

input {
    width: clamp(100px,70%,300px);
    border-radius: 5px;
}

input:hover {
    background-color: var(--secondary-color,burlywood);
}

input + span {
    position: relative;
}

input:required + span::after {
    background-color: var(--secondary-color,burlywood);

    content: "required";
    position: absolute;
    bottom: 150%;
    right: 100%;

    border-radius: 5px;
    padding: 0 5px;
}

input + span::before {
    position: absolute;
}

input:user-invalid {
    border-color: red;
}

input:user-invalid + span::before{
    color: red;
    content: "✗";
}

input:user-valid {
    border-color: green;
}

input:user-valid + span::before{
    content: "✓";
    color: green;
}
